@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: dark;
  default: true;
  --color-secondary: oklch(0.591 0.293 322.896);
}
.Toastify__toast {
  font-family: "Outfit", sans-serif !important;
}
