@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: dark;
  default: true;
  /* --color-secondary: oklch(0.591 0.293 322.896); */
  --color-secondary: #ea580c;
}
.Toastify__toast {
  font-family: "Outfit", sans-serif !important;
}

/* background color of the cross  icon within the input seach bar
  https://heroicons.com/ for svg icons */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  /*for %23ea580c,  %23 is the URL-encoded version of the # symbol, and ea580c is the hexadecimal code for the secondary color */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ea580c'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");

  cursor: pointer;
}


/****** schwebende ChatBot ******/

/* Die Klasse für das Element */
.floating-effect {
  transition: transform 0.3s ease-in-out;
  animation: float 3s ease-in-out infinite;
}

/* Die Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px); /* Höhe des Schwebens */
  }
  100% {
    transform: translateY(0px);
  }
}

/* Optional: Schatten, der mitschwingt */
.floating-shadow {
  position: relative;
}

.floating-shadow::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10%;
  width: 80%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  filter: blur(4px);
  animation: shadow-float 3s ease-in-out infinite;
}

@keyframes shadow-float {
  0%, 100% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(0.7); /* Schatten wird kleiner/heller wenn Element steigt */
    opacity: 0.2;
  }
}